*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    background-color: rgb(235, 238, 245);
}
.mini{
    height: 100%;
    background-color: #ffff;
    width: 89%;
}
.nav{
    height: 121.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.three{
    gap: 5px;
    display: none;
}
.three div{
    background-color: black;
    width: 20px;
    margin-top: 5px;
    height: 2px;
}
.header-background{
    background-color: rgb(23, 23, 136);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 345px;
    margin-bottom: 20px;
}
.header-background h1{
    color: #ffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    /* position: relative;
    left: 10%;
    top: 30%; */
}
.all-post{
    /* background-color: ; */
    padding-left: 50px;
}
.all-post p{
    font-size: 15px;
}
.images{
    display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}
.card{
    /* background-color: red; */
    border: 1px solid;
    width: 280px;
    height: 400px;
}
.images img{
    width: 100%;
    margin-bottom: 20px;

}








































































@media screen and (max-width:895px) {
    .mini{
        height: 100%;
        background-color: #ffff;
        width: 100%;
    }
}
@media screen and (max-width:500px) {
    .mini{
        height: 100%;
        background-color: #ffff;
        width: 100%;
    }
    .nav{
        height: 45px;
    }
    .three{
        gap: 5px;
        display: block;
    }
    .header-background{
        background-color: rgb(23, 23, 136);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 170px;
    }
    .images{
        display: grid;
      grid-template-columns: auto auto;
      gap: 10px;
      background-color: #2196F3;
      padding: 10px;
    }
    .card{
        /* background-color: red; */
        border: 1px solid;
        width: 200px;
        height: 350px;
    }
}


