*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
i{
    color: white;
}
.container{
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    background-color: rgb(235, 238, 245);
}
.mini{
    height: 100%;
    background-color: #ffff;
    width: 89%;
}
.nav{
    height: 121.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.three{
    gap: 5px;
    display: none;
}
.three div{
    background-color: black;
    width: 20px;
    margin-top: 5px;
    height: 2px;
}
.header-background{
    background-color: rgb(23, 23, 136);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 345px;
    margin-bottom: 20px;
}
.header-background h1{
    color: #ffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    /* position: relative;
    left: 10%;
    top: 30%; */
}
.all-post{
    /* background-color: ; */
    padding-left: 50px;
}
.all-post p{
    font-size: 15px;
}
.images{
    display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  /* background-color: #2196F3; */
  padding: 10px;
}
.card{
    /* background-color: red; */
    border: 1px solid;
    width: 280px;
    height: 400px;
}
.images img{
    width: 100%;
    margin-bottom: 20px;

}
form{
    /* background-color: green; */
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.form{
    /* background-color: rgb(127, 165, 127); */
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 90px;
}
.form h1{
    margin-bottom: 45px;
}
.top{
    /* background-color: red; */
    display: flex;
    gap: 15px;
    margin-bottom: 45px;
    width: 400px;
}
.to{
    font-size: larger;
}
input[type=text]{
    border: none;
    border-bottom: 1px solid;
    width:200px;
    background-color: transparent;
    outline: none;
    font-size: larger;
}
input[type=button]{
    width: 100px;
    font-size: larger;
    border-radius: 15px;
    background-color: #cdd3d8;
    padding: 10px 0 10px 0;
    border: none;

}
input[type=button]:hover{
    color: aliceblue;
    background-color: #2a353f;

}








/* infomation section */
.round-up-section{
    background-color: rgb(0, 0, 0);
    height: 500px;
    display: flex;
    align-items: center;
    padding: 0 50px 0 ;
}
.round-up-section-links{
    /* background-color: blue; */
    display: flex;
    height: 45%;
    gap:50px;
}
.round-up-section p{
    font-size: larger;
    color: #cdd3d8;

}
.round-up-section h1{
    font-weight: lighter;
    margin-bottom: 20px;
    color: #cdd3d8;

}
.round-up-section-links-oluaka-institute-of-technology{
    /* background-color: rgb(221, 221, 46); */
    width: 30%;
}
.round-up-section-links-oluaka-institute-of-technolog{
    display: none;
    /* background-color: rgb(221, 221, 46); */
    width: 30%;
}
.round-up-section-links-quick-links{
    /* background-color: pink; */
    width: 30%;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.anco{
    display: flex;
    flex-direction: column;
    /* background-color: #252c33; */
    width: 120px;
}
.round-up-section a{
    font-size: larger;
    text-decoration: none;
    color: #a7a7a7;
    margin-bottom: 10px;
}
.round-up-section a:hover{
    color: #eff0f1;
}
.round-up-section-links-contact-info{
    /* background-color: green; */
    width: 30%;
}
.bus-stop{
    /* background-color: blue; */
    margin-bottom: 10px;
}










/* footer section */

footer{
    background-color: #16181b;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer div{
    width: 80%;
    display: flex;
}
footer p{
    font-size: larger;
}
.paaa{
    color: #cdd3d8;
}
.paa{
    color: #a7a7a7;
}
.pa{
    color: #cdd3d8;
}





































































@media screen and (max-width:895px) {
    .mini{
        height: 100%;
        background-color: #ffff;
        width: 100%;
    }
}
@media screen and (max-width:500px) {
    .mini{
        height: 100%;
        background-color: #ffff;
        width: 100%;
    }
    .nav{
        height: 45px;
    }
    .three{
        gap: 5px;
        display: block;
    }
    .header-background{
        background-color: rgb(23, 23, 136);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 170px;
    }
    .images{
        display: grid;
      grid-template-columns: auto auto;
      gap: 10px;
      background-color: transparent;

      padding: 10px;
    }
    .card{
        /* background-color: red; */
        border: 1px solid;
        width: 200px;
        height: 350px;
    }
    .round-up-section{
        background-color: rgb(0, 0, 0);
        height: 750px;
        display: flex;
        align-items: first baseline;
        padding: 40px 50px 0 ;
    }
    .round-up-section-links{
        /* background-color: blue; */
        display: flex;
        height: 45%;
        gap:50px;
        flex-direction: column;
    }
    .round-up-section-links-oluaka-institute-of-technology{
        /* background-color: rgb(221, 221, 46); */
        display: none;
        width: 30%;
    }
    .round-up-section-links-oluaka-institute-of-technolog{
        display: block;
        /* background-color: rgb(221, 221, 46); */
        width: 80%;
    }
    .round-up-section-links-contact-info{
        /* background-color: green; */
        width: 80%;
    }
}


